# Игнорировать файлы и директории, созданные Mac OS
.DS_Store

# Игнорировать файлы логов
*.log

# Игнорировать временные файлы
*~

# Игнорировать директории и файлы сборки
node_modules/
build/
dist/

# Игнорировать файлы конфигурации
.env
config.js

# Игнорировать файлы и директории, созданные в Visual Studio Code
.vscode/
