.place__paragraphs {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

@media screen and (max-width: 768px) {

  .place__paragraphs {
    row-gap: 25px;
  }

}

@media screen and (max-width: 425px) {

  .place__paragraphs {
    width: calc(100vw - 32px);
    margin: 0 auto;
  }

}